/* variables */
:root {
  --back-color: #f1f5f9;
  --main-color: #0075ff;
  --radius-div: 10px;
  --shadow: 0 0 5px 1px #0000004f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: ltr;
  transition: 0.3s;
}
body {
  font-family: "Noto Serif", serif;
  background-color: var(--back-color);
  width: 100%;
  direction: rtl;
}
ul {
  list-style: none;
}
h1.section-title {
  text-transform: capitalize;
  margin: 20px 10px;
  position: relative;
  border-bottom: 5px solid white;
  width: 190px;
  padding-bottom: 10px;
  letter-spacing: 2px;
}
h1.section-title::before {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 5px;
  background-color: black;
}
h1.title {
  transform: translateX(-50%);
  width: 25%;
  margin: 20px 0;
  text-align: center;
  padding-bottom: 15px;
  text-transform: capitalize;
  position: relative;
  border-bottom: 2px solid black;
  color: var(--main-color);
}
h1.title::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 0px 2px white;
}
h1.sec-title {
  text-transform: capitalize;
  margin: 0px 10px;
}
h2 {
  margin: 10px 20px;
  text-transform: capitalize;
}
/* global classes */
/* gg */
/* start main (aside) */
aside.main {
  transition: 1s;
  background-color: white;
  width: 20%;
  min-width: 20%;
  max-width: 20%;
  height: 100%;
  position: fixed;
  top: 93.5px;
  left: -20%;
  box-shadow: 3px -3px 9px 0 #00000038;
  z-index: 55;
}
aside.main .links {
  margin: 20px auto;
  width: 90%;
}
aside.main .links span {
  display: block;
  font-size: 22px;
  text-transform: capitalize;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  border-radius: 10px;
  padding: 12.5px 30px;
  cursor: pointer;
}
aside.main .links span:hover {
  background-color: #f6f6f6;
}
/* end main (aside) */
/* start tob-bar */
.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  box-shadow: #00000038 0px 4px 10px 0px;
  z-index: 9999;
}
.top-bar .icons img {
  width: 50px;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  cursor: pointer;
  margin: 10px;
}
.top-bar .icons i {
  font-size: 25px;
  margin: 10px;
  text-align: center;
  position: absolute;
  top: 40%;
  right: 6%;
  transform: translateY(-50%);
  cursor: pointer;
}
.top-bar .search {
  margin: 0 20px;
}
.top-bar .search .input {
  display: none;
  position: absolute;
  bottom: -100%;
  left: 20px;
  width: 98%;
  height: 70px;
  background-color: white;
  border-radius: 20px;
  z-index: 55;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 20px 5px #00000038;
}
.top-bar .search .input input {
  border: 1px solid var(--main-color);
  border-radius: 10px;
  font-size: 18px;
  direction: ltr;
  padding: 5px;
  padding-left: 30px;
  width: 98%;
  margin: 20px;
}
.top-bar .search i {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 25px;
  transform: translateY(-50%);
  cursor: pointer;
}
.top-bar .aside-bar {
  margin: 0 30px;
}
.top-bar .aside-bar i {
  font-size: 30px;
  cursor: pointer;
}
.top-bar .aside-bar i.fa-bars-staggered {
  display: none;
}
/* end tob-bar */
/* start responsive */
@media (max-width: 769px) {
  aside.main {
    width: 30%;
    max-width: 30%;
  }
}
@media (max-width: 426px) {
  h1.title {
    font-size: 23px;
  }
  .top-bar .icons img {
    width: 40px;
  }
  .top-bar .icons i {
    right: 12%;
    top: 37%;
  }
  .top-bar .aside-bar {
    margin: 0 15px;
  }
  .top-bar .search i {
    display: none;
  }
  aside.main {
    width: 60%;
    max-width: 60%;
    top: 81px;
    left: -60%;
  }
  div.table {
    display: none;
  }
}
@media (max-width: 376px) {
  h1.title {
    font-size: 20px;
  }
}
@media (max-width: 321px) {
  aside.main {
    width: 75%;
    max-width: 75%;
    top: 81px;
    left: -120%;
  }
  .top-bar .icons i {
    right: 17%;
    top: 37%;
  }
}
/* end responsive */
