.projects-section {
  margin: 110px 10px;
  transition: 1s;
  display: none;
  text-transform: capitalize;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}
.projects-container .box {
  background-color: white;
  border-radius: var(--radius-div);
  box-shadow: var(--shadow);
  height: 300px;
}
.projects-container .box .text {
  margin: 10px;
  position: relative;
  height: 60%;
  line-height: 1.5;
  border-bottom: 1px solid #ccc;
}
.projects-container .box .text p:not(p.proj-title) {
  margin: 10px 25px;
  font-size: 0.8em;
}
.projects-container .box .text p.proj-title {
  margin: 10px 20px;
  color: black;
}
.projects-container .box .text span.date {
  position: absolute;
  top: 0px;
  right: 20px;
  color: #777;
}
.projects-container .box .text img:first-of-type {
  margin-left: 25px;
}
.projects-container .box .text img {
  width: 7%;
  border: 1px solid white;
  border-radius: 50%;
  transform: translateY(200%);
}
.projects-container .box .text img:nth-child(5) {
  transform: translate(-50%, 200%);
}
.projects-container .box .text img:nth-child(6) {
  transform: translate(-100%, 200%);
}
.projects-container .box .text img:nth-child(7) {
  transform: translate(-150%, 200%);
}
.projects-container .box .text img:nth-child(8) {
  transform: translate(-200%, 200%);
}
.projects-container .box.mohamed-dashboard .text img {
  transform: translateY(140%);
}

.projects-container .box.mohamed-dashboard .text img:nth-child(5) {
  transform: translate(-50%, 140%);
}
.projects-container .box.mohamed-dashboard .text img:nth-child(6) {
  transform: translate(-100%, 140%);
}
.projects-container .box.mohamed-dashboard .text img:nth-child(7) {
  transform: translate(-150%, 140%);
}
.projects-container .box.mohamed-dashboard .text img:nth-child(8) {
  transform: translate(-200%, 140%);
}
.projects-container .box .keys {
  border-bottom: 1px solid #ccc;
  margin: 10px;
  padding-bottom: 10px;
  text-align: right;
}
.projects-container .box .keys span {
  margin: 0 5px;
  display: inline-block;
  padding: 4px 7px;
  font-size: 0.8em;
  background-color: #eee;
  border-radius: 5px;
}
.projects-container .box .salary {
  margin: 10px;
  width: 95%;
}
.projects-container .box .salary span.rating {
  position: relative;
  display: inline-block;
  width: 75%;
  height: 5px;
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  margin-left: 21px;
  margin-right: 40px;
}
.projects-container .box .salary span.red-rate::before {
  content: "";
  position: absolute;
  width: 40%;
  background-color: #f44336;
  height: 5px;
  border-radius: 5px;
}
.projects-container .box .salary span.green-rate::before {
  content: "";
  position: absolute;
  width: 90%;
  background-color: #22c55e;
  height: 5px;
  border-radius: 5px;
}
.projects-container .box .salary span.blue-rate::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: var(--main-color);
  height: 5px;
  border-radius: 5px;
}
.projects-container .box .salary span.salary- {
  position: relative;
  color: #777;
}
.projects-container .box .salary span.salary-::before {
  content: "\24";
  position: absolute;
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  left: -12px;
}
@media (max-width: 910px) {
  .projects-container .box .salary span.rating {
    margin-left: 10px;
  }
}
@media (max-width: 376px) {
  .projects-container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .projects-container .box .keys span {
    margin: 2px;
  }
  .projects-container .box .salary span.rating {
    margin-left: 0px;
  }
}
@media (max-width: 321px) {
  .projects-container .box {
    height: 320px;
  }
  .projects-container .box .salary span.rating {
    width: 70%;
  }
}
